{% extends "base.html" %}
{% block content %}

  <h1 class="center">Skills</h1>
  <br />
    <table class="table table-boardered">
      <thead>
        <tr>
          <td scope="col"><i class="fa-brands fa-python"></i> Python</th>
          <td scope="col"><i class="fa-brands fa-git-alt"></i></i> Git</th>
          <td scope="col"><i class="fa-brands fa-aws"></i> AWS</th>
          <td scope="col"><i class="fa-brands fa-docker"></i> Docker</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="fa-solid fa-flask"></i> Flask</th>
          <td><i class="fa-brands fa-html5"></i> HTML</td>
          <td><i class="fa-brands fa-css3"></i> CSS</td>
          <td><i class="fa-solid fa-database"></i> SQL</td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-terminal"></i> Bash</th>
          <td><i class="fa-brands fa-github"></i> Github</td>
          <td><i class="fa-brands fa-linux"></i> Linux</td>
          <td><i class="fa-solid fa-database"></i> SQLAlchemy</td>
        </tr>
      </tbody>
    </table>
{% endblock %}